*{
    box-sizing: border-box;
}
#container{
width: 800px;
background-color: rgb(124, 173, 173);
margin: 0px auto;

}
#nav{
    background-color: beige;
    height: 100px;
}
#content{
    background-color: rgb(197, 238, 224);
    height: 1000px;
}
a:link, a:visited{
    color: rgb(23, 23, 23);
}
a:hover {
    color: cadetblue;
}
a {
    text-decoration:none;
    padding: 10px;
    margin: 0px auto;
 }
 
 
 